div.container>.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    position: relative;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.filters>.search-button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    position: absolute;
    width: 20%;
    border-radius: 4px;
    right: 30px;
    cursor: pointer;
}

.btn__search:hover {
    opacity: 0.9;
}

.filters > div{
    height: 100%;
    width: 25%;
}
.filters > .locations{
    border-right: 1px solid #DDDDDD;
}

div > h3.title {
    font-weight: 600;
}

div > h4.subtitle {
    font-weight: 400;
    font-size: 14px;
}

