.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    position: relative;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.filters>.search-button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    position: absolute;
    width: 20%;
    border-radius: 4px;
    right: 30px;
    cursor: pointer;
}

.search-button:hover {
    opacity: 0.9;
}

.filters>div {
    height: 100%;
    width: 25%;
    text-align: center;
    border-radius: 4px;
    z-index: 1;
}

.filters>.locations {
    border-right: 1px solid #DDDDDD;
    height: 100%;
}

.locations:hover .popover,
.amenities:hover .popover {
    display: block;
}

.popover {
    display: none;
    border: 1px solid #DDDDDD;
}

.popover, ul{
    background-color: #FAFAFA;
    list-style: none;
    padding: 0;
    margin: 0;
}

.popover li {
    padding: 10px;
}

.popover h2 {
    font-size: 16px;
    margin: 0;
}


div>h3.title {
    font-weight: 600;
}

div>h4.subtitle {
    font-weight: 400;
    font-size: 14px;
}